version: 1.0.{build}

branches:
  # whitelist
  only:
    - master

image:
  - Ubuntu1804
  - macos-mojave

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

# scripts that run after cloning repository
for:
  -
    matrix:
      only:
        - image: Ubuntu1804

    before_build:
      # Following alternate install steps for linuxbrew from here: https://docs.brew.sh/Homebrew-on-Linux#alternative-installation
      - export PATH='/home/linuxbrew/.linuxbrew/bin:$PATH'
      - sudo apt-get install tree
      - sh -c "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh)"
      - tree .
      - echo $PATH
      - brew install hello
  -
    matrix:
      only:
        - image: macos-mojave

    before_build:
      - echo "Mac don't need any before_build steps."

# Building bottles shell script.
build_script:
  - ./build-bottles.sh

artifacts:
  - path: "*.bottle.tar.gz"

